body{
    background-color: #1b1e21;
}

h1{
    color: #eeeeee;
}

label{
    color: #eeeeee;
}

.dataTables_wrapper .dataTables_filter input{
    background-color: #eeeeee;
}

.dataTables_wrapper .dataTables_length select{
    background-color: #eeeeee;
}

thead{
    background-color: #6c757d;
}

